body {
    background-color: #304141;
    text-align: center;
    font-family: 'Satisfy', cursive;
}

h1, h2, h3, h4, h5, p, form{
    color: #c8975f;
}

h1 {
    margin-left: 3px;
    font-size: 45px;
}

p, a, form {
    font-size: 28px;
}

.navbar {
    background-color: #042764;
}

.btn {
    background-color: #c8975f;
    margin: 2px;
    font-size: 28px;
}

a:link, a:visited, a:active  {
    text-decoration: none;
}

a:hover {
    color: #d9cab8;
}

#input-form {
    width: 250px;
}